* {
  margin: 0;
  padding: 0;
  font-family: verdana;
  text-decoration: none;
  box-sizing: border-box;
}

header {
  width: 100%;
  position: fixed;
  background-color: white;
  border-bottom: 1px solid black;
  z-index: 10;
}
header .inner {
  width: 1180px;
  margin: 0 auto;
  position: relative;
  height: 120px;
  font-size: 0;
}
header .inner h1 {
  position: absolute;
  left: 10px;
  bottom: 15px;
  font-size: 26px;
}
header .inner h1 a {
  text-decoration: none;
  color: black;
}

#navbar {
  position: absolute;
  right: 0;
  bottom: 0;
}
#navbar li {
  list-style: none;
  display: inline-block;
  font-weight: bold;
  font-size: 15px;
}
#navbar a {
  display: block;
  padding: 20px 40px;
  text-decoration: none;
  color: gray;
}
#navbar a:hover {
  color: white;
  background-color: gray;
}

#utility {
  position: absolute;
  right: 30px;
  top: 20px;
}
#utility li {
  list-style: none;
  display: inline-block;
}
#utility a {
  display: block;
  padding: 0 10px;
  font-size: 12px;
  text-decoration: none;
  color: gray;
}

.gallery-grid {
  width: 1000px;
  margin: 0 auto;
  padding-top: 150px;
  display: flex;
  flex-wrap: wrap;
  gap: 9px;
  align-content: flex-start;
}
.gallery-grid .article1 {
  width: 700px;
  height: 400px;
  background-image: url("../img/700x400.png");
  background-size: cover;
  background-position: center;
  color: #fff;
  position: relative;
  overflow: hidden;
}
.gallery-grid .article1 p {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}
.gallery-grid .article2 {
  width: 290px;
  height: 190px;
  background-image: url("../img/290x190.png");
  background-size: cover;
  background-position: center;
  color: #fff;
  position: relative;
  overflow: hidden;
}
.gallery-grid .article2 p {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}
.gallery-grid .article3 {
  width: 290px;
  height: 95px;
  background-color: #eee;
  color: #000;
  position: relative;
  overflow: hidden;
}
.gallery-grid .article3 p {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}
.gallery-grid .article4 {
  width: 490px;
  height: 240px;
  background-image: url("../img/290x95-2.png");
  background-size: cover;
  background-position: center;
  color: #fff;
  position: relative;
  overflow: hidden;
}
.gallery-grid .article4 p {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}
.gallery-grid .article5 {
  width: 500px;
  height: 490px;
  background-image: url("../img/500x490.png");
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}
.gallery-grid .article5 p {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}
.gallery-grid .article6 {
  width: 1000px;
  height: 371px;
  background-image: url("../img/1000x371.png");
  background-size: cover;
  background-position: center;
  color: #fff;
  position: relative;
  overflow: hidden;
}
.gallery-grid .article6 p {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}
.gallery-grid .article7 {
  width: 1000px;
  height: 361px;
  background-image: url("../img/1000x361.png");
  background-size: cover;
  background-position: center;
  color: #000;
  position: relative;
  overflow: hidden;
}
.gallery-grid .article7 p {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}
.gallery-grid #article4 {
  width: 490px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}/*# sourceMappingURL=galery.css.map */