@use 'sass:list';
@use 'lib' as lib;

* {
    @include lib.default();
}

header {
    width: 100%;

    .inner {
        @include lib.center-block();
        position: relative;
        height: 120px;
        font-size: 0;

        h1 {
            position: absolute;
            left: 10px;
            bottom: 15px;
            font-size: 26px;

            a {
                @include lib.text-deco(black);
            }
        }
    }
}

#navbar {
    position: absolute;
    right: 0;
    bottom: 0;

    li {
        @include lib.list-default();
        font-weight: bold;
        font-size: 15px;
    }

    a {
    display: block;
    padding: 20px 40px;
    @include lib.text-deco(gray);
    
    &:hover {
      color: white;
      background-color: gray;
    }
  }
}