@use 'sass:list';
@use 'lib' as lib;

$clrs: pink, orange, blue;

@for $i from 1 through 3 {
    .#{list.nth(lib.$btn-cls, $i)} {
        background-color: list.nth($clrs, $i);
        border-radius: lib.btn-get-border-size($i);

        @include lib.button-size($i);
    }
}

// div {
//     width: 200px;
//     height: 100px;
//     margin: 10px 0;
// }