@use 'sass:list';
@use 'lib' as lib;

* {
    @include lib.default();
}

header {
    width: 100%;

    .inner {
        @include lib.center-block();
        position: relative;
        height: 120px;
        font-size: 0;

        h1 {
            position: absolute;
            left: 10px;
            bottom: 15px;
            font-size: 26px;

            a {
                @include lib.text-deco(black);
            }
        }
    }
}

#navbar {
    position: absolute;
    right: 0;
    bottom: 0;

    li {
        @include lib.list-default();
        font-weight: bold;
        font-size: 15px;
    }

    a {
    display: block;
    padding: 20px 40px;
    @include lib.text-deco(gray);
    
    &:hover {
      color: white;
      background-color: gray;
    }
  }
}

#utility {
    position: absolute;
    right: 30px;
    top: 20px;

    li {
        @include lib.list-default();
    }

    a {
        display: block;
        padding: 0 10px;
        font-size: 12px;
        @include lib.text-deco(gray);
    }
}

.main {
    width: 100%;
    height: 590px;
    background-image: url(../img/bg_main.png);

    div {
        width: 800px;
        height: 300px;
        font-size: 25px;
        color: white;
        margin: 0 auto;
        padding-top: 150px;
    }

    span {
        font-size: 80px;
        font-weight: bold;
    }
}

section {
    @include lib.center-block();
    height: 450px;
    padding: 50px;

    > p {
        font-weight: bold;
        padding: 10px 0;
    }
}

.article {
    float: left;
    padding: 50px 20px;

    p {
        font-weight: bold;
        padding: 10px 0;
    }
}

footer {
    width: 100%;
    background-color: darkslategray;

    div {
        @include lib.center-block(lib.$widthFooter);
        position: relative;
        height: 100px;
    }

    h1 {
        position: absolute;
        left: 10px;
        bottom: 15px;
    }

    ul {
        position: absolute;
        font-size: 0;
        right: 20px;
        bottom: 15px;

        li {
            @include lib.list-default();
            font-size: 16px;
            color: gray;
            padding: 0 15px;

            &:nth-child(-n + 3) {
                border-right: 1px solid gray;
            }
        }
    }

    a {
        @include lib.text-deco();

        &:hover {
            color: orchid;
        }
    }

    p {
        @include lib.center-block(lib.$widthFooter);
        padding: 30px 0;
        font-size: 12px;
    }
}