@use 'variables' as vars;

@mixin default()
{
    margin: 0;
    padding: 0;
    font-family: vars.$ffamily;
    text-decoration: vars.$tdecor;
    box-sizing: border-box;
}

@mixin center-block($width: vars.$widthContent)
{
    width: $width;
    margin: 0 auto;
}

@mixin text-deco($color: gray)
{
    text-decoration: none;
    color: $color;
}

@mixin list-default()
{
    list-style: none;
    display: inline-block;
}

@mixin abs-center()
{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}