@use 'variables' as vars;

@mixin default()
{
    margin: 0;
    padding: 0;
    background-color: vars.$bgc;
    color: vars.$fontcolor;
    font-family: vars.$ffamily;
    text-decoration: vars.$tdecor;
    box-sizing: border-box;
}

@mixin center-block()
{
    width: vars.$widthContent;
    margin: 0 auto;
}

@mixin text-deco($color: gray)
{
    text-decoration: none;
    color: $color;
}